.space-header{
  background: yellow;
  height: 100%;
}

.text-header{
  text-align: center;
}

.about-me{
  background: green;
}

.projects{
  background: purple;
}

.skills{
  background: green;
}

.contact{
  background: purple;
}

.footer{
  background: blue;
}

.my-nav{
  background: orange;
}

.my-nav a{
  color: gray;
}

.icon-bar{
  background: gray;
}

html,body {
  height: 100%;
}

body{
  background: #ddd;
}

#space{
  background: red;
  overflow-x: hidden;
  overflow-y: hidden;
  height: 100%;
}
