.space-header{
  height: 100%;
  width: 100%;
  padding: 0;
}

.spaceee{

  height: 100%;
  width: 100%;

}

.text-header{
  text-align: center;
}

.about-me{
  background: green;
}

.projects{
  background: purple;
}

.skills{
  background: green;
}

.contact{
  background: purple;
}

.footer{
  background: blue;
}

.my-nav{
  background: orange;
}

.my-nav a{
  color: gray;
}

.icon-bar{
  background: gray;
}

html,body {
  height: 100%;
}

body{
  background: #ddd;
}

#space{
  background: red;
  /*overflow-x: hidden;
  overflow-y: hidden;*/
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
}


.affix {
    top: 0;
    width: 100%;
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}
.affix-top {
    position: static;
    top: -35px;
}
.affix + .container-fluid {
    padding-top: 70px;
}
