:root {
  --primary-0: #809EC0 ;
  --primary-1: #CADFF7 ;
  --primary-2: #A3C1E1 ;
  --primary-3: #647F9D ;
  --primary-4: #39516B ;
  --secondary-1-0: #ABE692 ;
  --secondary-1-1: #D9FCCA ;
  --secondary-1-2: #C0F3AB ;
  --secondary-1-3: #96CF7E ;
  --secondary-1-4: #5B8C46 ;
  --secondary-2-0: #A183C5 ;
  --secondary-2-1: #DFCBF8 ;
  --secondary-2-2: #C1A5E3 ;
  --secondary-2-3: #8368A3 ;
  --secondary-2-4: #533B6F ;
  }

  html,body { height: 100% }

  body{
    background: var(--primary-2);
    font-family: 'Share Tech Mono', monospace;
   }

   h1 {
     font-family: 'VT323', monospace;
     font-size: 52px;
   }

/*header*/

.space-header{
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  background: #444;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  background-image: url('./images/giphy.gif');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.text-header{
  text-align: center;
  font-size: 80px;
  color: var(--secondary-1-0);
  letter-spacing: 10px;
  text-shadow: -3px 0 #222, 0 3px #222, 3px 0 #222, 0 -3px #222;
}

.arrow {
  text-align: center;
  margin: 0% 0;
  font-size: 30px;
  position: relative;
  top: 40px;
}
.arrow a{
  color: white;
  text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
  text-decoration: none;
}
.bounce {
  -moz-animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}

/*navbar*/

.affix {
  top: 0;
  width: 100%;
  z-index: 1000;
}
.affix-top {
  position: static;
  top: -35px;
}
.affix + .container-fluid {
  padding-top: 70px;
}

.nav-wrapper{
  height: 55px;
}

#about-me img{
  width: 90%;
}

#about-me .my-info img{
  width: 80px;
  border-radius: 200px;
}
#about-me .my-info img:hover{
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
}

.poem{
  padding-top: 60px;
  padding-bottom: 60px;
  display: flex;
  align-items: center;
  height: inherit;
  justify-content: center;
  flex-flow: column;
  font-size: 16px;
  background: var(--secondary-1-0);
  border-radius: 200px;
  text-align: center;
  -webkit-box-shadow: 0px 1px 13px 1px rgba(0,0,0,0.44);
  -moz-box-shadow: 0px 1px 13px 1px rgba(0,0,0,0.44);
  box-shadow: 0px 1px 13px 1px rgba(0,0,0,0.44);
}

.poem strong{ font-size: 22px; }

.my-info{
  padding-left: 30px;
  padding-right: 30px;
  text-align: center;
}

#projects img{
  margin-bottom: 20px;
  width: 100%;
}

#projects {
  text-align: center;
}

#project-video {
  height: auto;
  width: 95%;
  border: 2px solid var(--secondary-2-3);
  border-radius: 50% / 10%;
}

#projects h2 {
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
#projects p {
  color: black;
}

.project-links{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.project-links h3{
  font-size: 20px;
  color: black;
  padding: 10px;
  border-radius: 20px;
  border: 2px solid var(--secondary-1-0);
  background-color: var(--secondary-1-1);
}

.project-links h3:hover{
  background: var(--secondary-1-2);
}

.project-links a:hover{
  text-decoration: none;
}

#tv {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 20px 0;
  background: var(--secondary-2-2);
  border: 1px solid var(--secondary-2-3);
  border-radius: 50% / 10%;
  color: white;
  text-align: center;
  text-indent: .1em;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-flow: column;
  padding-bottom: 20px;

}

#tv img{
  width: 95%;
  border: 2px solid var(--secondary-2-3);
  border-radius: 50% / 10%;
}

.section-group:nth-of-type(even){
  background: var(--primary-1);
}

#skills{
  text-align: center;
}
.skill-icons{
  font-size: 100px;
  /*margin: 20px;*/
  padding: 20px;
}

#skills h1{
  margin-bottom: 25px;
}

#skills a{
  background: var(--secondary-1-0);
  border-radius: 30px;
  padding: 8px;
  font-size: 16px;
  border: 1px solid var(--secondary-1-4);
}

#skills a:hover{
  text-decoration: none;
  color: black;
  background: var(--secondary-1-2);
}

.section-group{
  padding-top: 40px;
  padding-bottom: 40px;
}

#contact{
  text-align: center;
}

#contact .fa{
  font-size: 20px;
  padding: 5px;
}

#contact span{
  padding: 5px;
}

#contact span{
  color: black;
  font-size: 16px;
}

a{
  color: black;
}

#contact p{
  margin-top: 20px;
  font-size: 16px;
}

#footer{
  background: var(--primary-4);
  padding-top: 1px;
  padding-bottom: 0;
  text-align: center;
  font-size: 11px;
  color: white;
  letter-spacing: 5px;
}
